#users-table,
#types-table {
  border-collapse: collapse;
  width: 100%;
}

#users-table td,
#users-table th,
#types-table td,
#types-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users-table tr:nth-child(even),
#types-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#users-table th,
#types-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
